:root {
  --project-primary: #4f46e5;
  --project-primary-10: rgba(79, 70, 229, 0.1);
  --project-primary-20: rgba(79, 70, 229, 0.2);
  --project-primary-50: #ebeafd;
  --project-primary-90: rgba(79, 70, 229, 0.9);
  --project-primary-100: #cbc8fa;
  --project-primary-200: #aba7f6;
  --project-primary-300: #8c86f1;
  --project-primary-400: #6d66eb;
  --project-primary-500: #4f46e5;
  --project-primary-600: #3227de;
  --project-primary-700: #2920c0;
  --project-primary-800: #231c9e;
  --project-primary-900: #1d187d;

  --project-white: #ffffff;
  --project-hover: #f1f5f9;
  --project-text: #000000;
  --project-gray-light: #9ca3af;
  --project-divide: #f1f5f9;

  --project-dark: #111111;
  --project-text-dark: #ffffff;
  --project-gray-dark: #1f2937;
  --project-divide-dark: #262626;
  --project-hover-dark: #262626;

  /* sidebar */
  --project-sidebar-bg: #000000;
  --project-sidebar-text: #ffffff;
  --project-sidebar-hover: #262626;
  --project-sidebar-bg-dark: #000000;
  --project-sidebar-text-dark: #ffffff;
  --project-sidebar-hover-dark: #262626;
}

/*  */
